html {
    max-width: 100%;
    max-height: 100%;
}

input[type="checkbox"] {
    text-align: center;

}
.enjoy-css {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 80%;
        padding: 2%;
        overflow: hidden;
        border: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vmax;
        color: rgba(255,255,255,1);
        text-align: left;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background: #006891;
        -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;


      }

body {
    
    background: rgb(0,61,97);
    background: linear-gradient(180deg, rgba(0,61,97,1) 0%, rgba(19,82,143,1) 50%, rgba(1,196,252,1) 100%, rgba(0,74,255,1) 100%);
    color:white;            
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vmax;
    position:relative;
    left: 5%;
    top: 5%
   
}

footer{
    position:static;
    bottom:5%;
    font-size:1vmax;
    right:15%;
    
}



