body {
  margin: 0;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

.card {
  background: #fff;

  border-radius: 8px;

  border: 1px solid #eceff1;

  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);

  margin: 0 auto 20px;

  margin-bottom: 20px;

  max-width: 1280px;

  overflow: hidden;
  padding: 10px;
}
